<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apkit.tugasbesar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconmayers"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apkit.tugasbesar.LoginActivity" />
            -->
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".AddOrder"
            android:label="Tambah Order"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListOrderActivity"
            android:label="@string/title_list_order"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailOrderActivity"
            android:label="@string/title_detail_order"
            android:parentActivityName=".ListOrderActivity" />
        <activity
            android:name=".TagihanActivity"
            android:label="@string/title_tagihan_order"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BayarActivity"
            android:label="Pembayaran"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KonfirmasiBayarActivity"
            android:label="Konfirmasi Pembayaran"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TransaksiActivity"
            android:label="Daftar Transaksi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfilActivity"
            android:label="Profil"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GantiPasswordActivity"
            android:label="Ganti Password"
            android:parentActivityName=".ProfilActivity" />
        <activity android:name=".VerifikasiKodeActivity" />
        <activity android:name=".LupaPasswordActivity"></activity>
    </application>

</manifest>
